.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(255, 255, 255, 0.65));

    z-index: 2; 
    padding: 5px 15px;
    transition: background-color 0.3s ease;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
}

.links a {
    font-size: 18px;
    font-weight: 500;
    color: lightgrey;
}

